body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

#mycanvas {
  clip-path: url(#svgPath);
}

main {
  position: absolute;
  top: 0px;
  left: 0px;
  background: rgb(70, 68, 158);
}
